exceptiongroup>=1.0.2
idna>=2.8
sniffio>=1.1
typing_extensions>=4.5
trio>=0.31.0  # optional for anyio
ipykernel>=7.1.0
jupyter-client>=8.6.3
jupyter-core>=5.9.1
notebook>=7.5.0
traitlets>=5.14.3
tornado>=6.5.2
nbconvert>=7.16.6
nbformat>=5.10.4
ipython>=9.7.0
ipywidgets>=8.1.8
python-dateutil>=2.9.0
pytz>=2025.2
cffi>=2.0.0
pycparser>=2.23
pyparsing>=3.1.2
certifi>=2025.1.31
urllib3>=2.3.0
chardet>=5.2.0
requests>=2.32.3
cycler>=0.12.1
pillow>=11.3.0
kiwisolver>=1.4.9
jedi>=0.19.2
pygments>=2.18.0
prompt_toolkit>=3.0.52
